
{{extend 'layout1.html'}}


<style>

  div.dataTables_wrapper div.dataTables_info {
    padding-top: 50px;
    white-space: nowrap;
}

div.dataTables_wrapper div.dataTables_paginate {
    margin: 0;
    white-space: nowrap;
    text-align: right;
    padding-top: 70px;


}

.pagination {
    display: -ms-flexbox;
    display: inline-flex;
    padding-left: 0;
    list-style: none;
    border-radius: .25rem;
}

</style>




{{block header}}
    <h2>Página de Inicio</h2>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{{=URL(c='default',f='index')}}">Home</a>
      </li>
      <li class="breadcrumb-item active">
        <strong>Listado de Cadetes</strong>
      </li>
    </ol>
{{end}}

  



  

<br><br>

<h3 class="animated fadeInUp">Listado de Cadetes</h3>
<br>


<div class="ibox-content">
  
 
  <div class="table-responsive">

    <div class="well">
      <table class="table table-striped" id="myTable">
        <thead>
          <tr>
            <th>Dni</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Formacion</th>
            <th>Curso</th>            
            <th></th>

          </tr>
        </thead>
        <tbody>

        </tbody>
      </table>
    </div>
  </div>
 
  <hr>
 

</div>

<br>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js" type="text/javascript" ></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" type="text/javascript" ></script>


<script>
       

    $(document).ready( function () {

        $.extend(true, $.fn.dataTable.defaults,{
            "info":true,
            "paging": true,
            "ordering":true,
            "searching": true,
            "language": {
                "url": "Spanish.json"
            },
            lengthMenu: [
                [10,20,50,100,500,-1], [10,20,50,100,500,'Todos']
            ]

        });

        table=$('#myTable').DataTable({
            "stateSave": false,
            "scrollY": "40vh",
            "paging": true,
           /* "ajax": {
                "url": "[=XML(mf)]",
                "dataSrc": "" // Con esto puedo cargar el jason sin que tenga el {"data": ...}
            },*/

            "data": {{=XML(mf)}}, // Aqui se puede ver que puedo cargar el jason puro en una variable y luego usar esa variable*/

            
      "columns":[
        {name:"dni", data:"dni"},
        {name:"nombre", data:"nombre"},
        {name:"apellido", data:"apellido"},
        {name:"formacion", data:"formacion"},
        {name:"curso", data:"curso"},
        
        {defaultContent: '<button type="button" class="editar btn btn-warning btn-xs" >Sanciones</button>'}
      ],  
        });

        $('#myTable tbody').on( 'click', 'button.editar', function(){
                var data = table.row( $(this).parents('tr')).data();
                var url = '{{=URL(c='sanciones', f='sanciones')}}' + '/' + data.dni;
                window.location = url
               
                
            });

        

        } );

      

        
  </script>