{{extend 'layout1.html'}}
<style>
  .swal-modal { width:30% !important;
    }
 
</style>

<div class="contenedor" id="contenedor">

<div class="row animated fadeInRightBig" align: center>
  <div class="conte"></div>













               
            </div><div class="swal-overlay swal-overlay--show-modal" tabindex="-1">
  <div class="swal-modal" role="dialog" aria-modal="true"><div class="swal-icon swal-icon--success">
    <span class="swal-icon--success__line swal-icon--success__line--long"></span>
    <span class="swal-icon--success__line swal-icon--success__line--tip"></span>

    <div class="swal-icon--success__ring"></div>
    <div class="swal-icon--success__hide-corners"></div>
  </div><div class="swal-title" >Su solicitud  se proceso exitosamente</div><div class="swal-text" style=""> <div class="ibox-content">
  
  </div><div class="swal-footer"><div class="swal-button-container">
<a href="{{=URL('sanciones', 'sanciones',args=dni)}}"  class="swal-button swal-button--confirm">OK</a>
 
 <br>
 <br>

    <div class="swal-button__loader">
      <div></div>
      <div></div>
      <div></div>
    </div>

  </div></div></div>
  </div>
  </div>
  </div>

  







  