<style>
    .btn-info{
       background-color: #2f4050;
    }
    #g_sanguineo__error{color:#f3f3f4;
        font-size:14px;background: red;}
    #curso__error{color:#f3f3f4;
        font-size:14px;background: red;}
    #formacion__error{color:#f3f3f4;
        font-size:14px;background: red;}
    #dni__error{color:#f3f3f4;
        font-size:14px;background: red;}
    #cuil__error{color:#f3f3f4;
        font-size:14px;background: red;} 
    #apellido__error{color:#f3f3f4;
        font-size:14px;background: red;}  
    #nombre__error{color:#f3f3f4;
        font-size:14px;background: red;}
    #f_nacimiento__error{color:#f3f3f4;
        font-size:14px;background: red;}
    #f_ingreso__error{color:#f3f3f4;
        font-size:14px;background: red;} 
    

</style>

{{extend 'layout1.html'}}
{{block header}}
<h2>Policía de Catamarca | Sistema Escuela de Cadetes</h2>
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="{{=URL(c='default',f='index')}}">Home</a>
    </li>
    <li class="breadcrumb-item active">
        <strong> Form</strong>
    </li>
</ol>
{{end}}
<div class="col-lg-24">
    <div class="col-lg-12">
        <div class="col-lg-12IdProntuarioTipo">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Ficha de Ingreso</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        
                    </div>
                </div>
                <div class="ibox-content">
                    {{=form.custom.begin}}
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label><strong>Dni:</strong></label>
                                {{form.custom.widget.dni["_style"] = "text-transform:uppercase"}}
                                {{=form.custom.widget.dni}}
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label><strong>Cuil:</strong></label>
                                {{form.custom.widget.cuil["_style"] = "text-transform:uppercase"}}
                                {{=form.custom.widget.cuil}}
                            </div>               
                                                                    
                        </div>           
                   
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label><strong>Apellido:</strong></label>
                                {{form.custom.widget.apellido["_style"] = "text-transform:uppercase"}}
                                {{=form.custom.widget.apellido}}
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label><strong>Nombre:</strong></label>
                                {{form.custom.widget.nombre["_style"] = "text-transform:uppercase"}}
                                {{=form.custom.widget.nombre}}
                            </div>        
                                                                    
                        </div>            
                   
                    </div>
                      <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label><strong>Domicilio:</strong></label>
                                {{form.custom.widget.domicilio["_style"] = "text-transform:uppercase"}}
                                {{=form.custom.widget.domicilio}}
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label><strong>Fecha de Nacimiento:</strong></label>
                               
                                {{=form.custom.widget.f_nacimiento}}
                            </div>            
                                                                  
                        </div>                   
                    </div>
                     <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label><strong>Grupo Sanguineo:</strong></label>
                                {{form.custom.widget.g_sanguineo["_style"] }}
                                {{=form.custom.widget.g_sanguineo}}
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label><strong>Curso:</strong></label>
                                {{form.custom.widget.curso["_style"] = "text-transform:uppercase"}}
                                {{=form.custom.widget.curso}}
                            </div>            
                                                                  
                        </div>                   
                    </div>
                     <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label><strong>Numero Telefonico fijo:</strong></label>
                                {{form.custom.widget.fijo["_style"] = "text-transform:uppercase"}}
                                {{=form.custom.widget.fijo}}
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label><strong>Numero Telefonico  Celular:</strong></label>
                                {{form.custom.widget.celu["_style"] = "text-transform:uppercase"}}
                                {{=form.custom.widget.celu}}  
                            </div>            
                                                                  
                        </div>                   
                    </div>
                     <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label><strong>Fecha de Ingreso:</strong></label>
                                {{form.custom.widget.f_ingreso["_style"] = "text-transform:uppercase"}}
                                {{=form.custom.widget.f_ingreso}}
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label><strong>Nombre del Tutor:</strong></label>
                                {{form.custom.widget.tutor["_style"] = "text-transform:uppercase"}}
                                {{=form.custom.widget.tutor}}
                            </div>            
                                                                  
                        </div>                   
                    </div>
                     <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label><strong>Telefono del tutor:</strong></label>
                                {{form.custom.widget.tel_tutor["_style"] = "text-transform:uppercase"}}
                                {{=form.custom.widget.tel_tutor}}
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label><strong>Formacion:</strong></label>
                                {{form.custom.widget.formacion["_style"] = "text-transform:uppercase"}}
                                {{=form.custom.widget.formacion}}
                            </div>     

                     <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label><strong>Foto:</strong></label>
                                {{form.custom.widget.foto["_style"]}}
                                {{=form.custom.widget.foto}}
                            </div>
                        </div>
                        
                                       
                                                                  
                        </div> 

                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label><strong>Alergias:</strong></label>
                                {{form.custom.widget.alergias["_style"] = "text-transform:uppercase"}}
                                {{=form.custom.widget.alergias}}
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label><strong>Estado:</strong></label>
                                
                                {{=form.custom.widget.estado}}
                            </div>     

















              
            
                
                
                
                <div class="form-group">
                    
                    
                    
                    <button type="submit" class="btn btn-info ">Guardar</button>
                    
                    
                    {{=form.custom.end}}
                    
                </div>
            </div>
        </div>
    </div>
    <script>
        $('.typeahead_3').typeahead({
    source: [
        {"name": "Afghanistan", "code": "AF", "ccn0": "040"},
        {"name": "Land Islands", "code": "AX", "ccn0": "050"},
        {"name": "Albania", "code": "AL","ccn0": "060"},
        {"name": "Algeria", "code": "DZ","ccn0": "070"}
    ]
}); 

    </script>

 



