<style>
	
	#aceptar{
		background: #d24040;
		color:white;	

	}
	#icono2{
		background: #d24040;

	}
	#icono1{
		background: #d24040;

	}
	#icono4{
		border-color: #d24040;

	}
	#icono3{
	
	
    border-color: #e63e13;}


</style>
	{{extend 'layout1.html'}}
	{{block header}}
    
{{end}}





               
            </div><div class="swal-overlay swal-overlay--show-modal" tabindex="-1">
  <div class="swal-modal" role="dialog" aria-modal="true"><div class="swal-icon swal-icon--warning" id="icono4">
    <span class="swal-icon--warning__body" id="icono2">
      <span class="swal-icon--warning__dot"id="icono1"></span>
    </span>
  </div><div class="swal-title" style="" id="icono3">ATENCIÒN</div><div class="swal-text" style="">
  	<h2><strong>No posee los permisos necesarios, consulte con el administrador.
  		
  </div><div class="swal-footer"><div class="swal-button-container">

    <a href="javascript:history.back()"class="swal-button swal-button--cancel" tabindex="0" id="aceptar">Aceptar</a>

    <div class="swal-button__loader">
      <div></div>
      <div></div>
      <div></div>
    </div>

 

  </div></div></div></div>



        
        
